@{
	Layout="Shared/_Layout.cshtml";
}

<h1>Add a Band to @Model["Venue"].Name</h1>

<h4>Add a band to this venue:</h4>
<form action="/venue/@Model["venue"].Id/bands/added" method="post">
  <label for="band-id">Select a band: </label>
  <select id="band-id" name="band-id" type="text">
  @foreach (var band in @Model["available-bands"])
  {
    <option value="@band.Id">@band.Name</option>
  }
  </select>
  <button type="submit">Add</button>
</form>
