@{
	Layout="Shared/_Layout.cshtml";
}

<h1>Band List</h1>
<hr />
<h2>Bands:</h2>
@if (Model.Count != 0)
{
  <ul>
    @foreach (var band in Model)
    {
      <li><a href="/band/@band.Id">@band.Id - @band.Name, @band.Type</a></li>
			<!-- <p><a href="/band/@band.Id/update">Update</a> |
			<a href="/band/@band.Id/delete">Delete</a></p> -->
			<br>
    }
  </ul>
}
else
{
  <h3>No Current Bands!</h3>
}

<h4><a href="/bands/new">Add a new band</a></h4>
<h4><a href="/">Return home</a></h4>
