@{
	Layout="Shared/_Layout.cshtml";
}

<h1>You added @Model.Name band to this venue.</h1>
<hr />
@if (@Model.Getbands().Count != 0)
{
  <h4>Here are all the bands registered with this venue:</h4>
  <ul>
    @foreach (var band in @Model.Getbands())
    {
      <li><a href="/band/@band.Id">@band.Name</a></li>
    }
  </ul>
}


<p><a href="/">Return to Main Page</a></p>
<p><a href="/venue/@Model.Id/bands/add">Click here to register bands to venue</a></p>
