@{
	Layout="Shared/_Layout.cshtml";
}

<h1>New Band Entry</h1>
<h2>Add a band</h2>
<form action="/bands/new" method="post">
	<div class="form-group">
	  <label for="band-name">Band Name:</label>
	  <input id="band-name" name="band-name" type="text" placeholder="Jazzo Band" required autofocus>
	</div>
	<div class="form-group">
	  <label for="band-type">Band Type:</label>
	  <input id="band-type" name="band-type" type="text" placeholder="Jazz">
	</div>
  <button type="submit">Add new band</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/bands">View all bands</a></p>
