@{
	Layout="Shared/_Layout.cshtml";
}

<hr />
<h1>Your Request was completed successfully!</h1>
<hr/>
<h2><a href="/venues/">View all venues</a></h2>
<br>
<h2><a href="/bands/">View all bands</a></h2>
<br>
<h2><a href="/">Return to Main Page</a></h2>
